# local package
-e .

# project
jupyter
numpy
scipy
pandas
matplotlib
tqdm
openpyxl
pytest
pytest-cov
mkdocs
mkdocs-coverage
mkdocstrings[python]>=0.18
mkdocs-material
sympy
nbmake
pre-commit
black[jupyter]
